@import '../../../styles/variables';

.ui-btn{
  cursor: pointer;
  background-color: $light-grey-base;
  font-size: 1.3em;
  height: 2em;
  width: auto;
  margin-top: 2em;
  color: $dark-highlight;
  border: 2px solid $dark-highlight;
  padding: 0 1em;
  font-family: $main-font;
  border-radius: .3em;
  transition: .2s ease-in-out;

  &:hover{
    color: $light-grey-base;
    background-color: $dark-highlight;
    transition: .2s ease-in-out;
  }
}