@import '../../../styles/variables';

.animationContainer{
  min-width: 5rem;
  min-height: 5rem;
}

.circle, .check {
  fill: none;
  stroke: $dark-highlight;
  stroke-miterlimit: 10;
}

.circle {
  stroke-width: 34px;
  stroke: $dark-highlight-2;
}

.check {
  stroke-linecap: round;
  stroke-width: 84px;
}