@import '../../../styles/variables';

.container {

  .instructionsListCard {
    background-color: $sand;
    margin: 0;
    margin-top: 1.5rem;
    padding: 1.5rem;
    
    p {
      margin-bottom: 1rem;
    }
  }
}