@import '../../../styles/variables';

.container {
  margin-top: 0;
  .instructionsListCard {
    background-color: $dark-base;
    margin: 0;
    margin-top: 1.5rem;
    padding: 1.5rem;

    p {
      margin-bottom: 1rem;
    }
  }
}
