.recipe-container {
  width: 90vw;
}
.bot-recipe-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

@media only screen and (max-width: 450px) {
  .bot-recipe-info {
    grid-template-columns: 1fr;
  }
}
