@import '../../../styles/variables';
@import '../../../styles/mixins';

.container {
  background-color: $dark-grey-base;
  padding: 0 5vw;
  height: 6em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include box-shadow-mat;

  .iconBox {
    height: 5em;
    width: 5em;
    transition: 1s ease-in-out;
    cursor: pointer;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .mainLogo{
    display: flex;
    align-items: center;

    .carrotSvgWrap{
      height: 2.3rem;
      width: 2.3rem;
      margin-left: .5rem;
    
      svg{
        height: 100%;
        width: 100%;
        fill: $dark-highlight;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .container {
    height: 4.5em;

    .iconBox {
      height: 3em;
      width: 3em;
    }
  }
}
