@import '../../../styles/variables';
@import '../../../styles/mixins';

.container{
  background-color: $dark-grey-base;
  padding: 0 5vw;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  @include box-shadow-mat;

  .iconBox{
    height: 5em;
    width: 5em;
    transition: 1s ease-in-out;
    cursor: pointer;

    svg{
      height: 100%;
      width: 100%;
    }
  }
}