@import '../../../styles/variables';

.container{
  background-color: $secondary;
  padding: 0 1%;
  height: 6em;
  display: flex;
  align-items: center;
  .iconBox{
    height: 5em;
    width: 5em;
    margin-left: 2em;
    transition: 1s ease-in-out;
    cursor: pointer;
    svg{
      height: 100%;
      width: 100%;
    }
  }
  .closed{
    transition: 1s ease-in-out;
    transform: rotate(90deg);
  }
}