div.loginFailureContainer {
  width: 40%;
  height: 100%;
  margin: auto 0;

  h1 {
    margin-bottom: 2rem;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 450px) {
  div.loginFailureContainer {
    width: 92vw;
    margin: 4vw;
    h1 {
      font-size: 1.5rem;
      margin-bottom: unset;
    }

    p {
      font-size: 1rem;
      margin: 1rem 0;
      margin-bottom: 0;
    }
  }
}
