$main-background: #1B1C1B;
$secondary: #7692FF;
$backup: #2D2E2E;
$main-font: 'Montserrat', sans-serif;
$dark-night: #8FD694;
$light-night: #B8B8F3;
$sand: #B8B8F3;
$sunburn: #DF928E;
$icon-blue: #37454F;
$gobi: #CD533B; 