$dark-base: #1B1C1B; 
$dark-grey-base: rgb(45, 45, 46); 
$dark-grey-menu: rgba(45, 45, 46, 0.5); 
$light-grey-base: rgb(59, 59, 59); 
$lighter-grey-base: rgb(112, 112, 112); 
$dark-highlight-2: #7692FF; 
$main-font: 'Montserrat', sans-serif;
$dark-highlight: #8FD694; 
$dark-light-purple: #B8B8F3; 
$text-color: rgb(209, 209, 209);


$sand: #B8B8F3;
$sunburn: #DF928E;
$icon-blue: #37454F;
$gobi: #CD533B; 