$main-background: #EAE0D5;
$secondary: #98A0A4;
$backup: rgb(201, 210, 215);
$main-font: 'Montserrat', sans-serif;
$dark-night: #201F1E;
$light-night: rgb(85, 82, 80);
$sand: #EAD2AC;
$sunburn: #DF928E;
$icon-blue: #37454F;
$gobi: #CD533B;