/* GLOBAL STYLE / FONT IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500');

/* PARTIALS IMPORTS */
@import 'variables';
@import 'add-recipe';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

html{
  background-color: $dark-base;
  font-family: $main-font;
}

h1, h2, h3, p, li, label{
  color: $text-color;
}

h1{
  font-size: 2.2rem;
  color: $dark-highlight;
}

h2{
  font-size: 1.5rem;
}

h3{
  font-size: 1.3rem;
}

p{
  font-size: 1.1rem;
  line-height: 1.5;
}

li{
  font-size: 1.1rem;
  margin-top: .6rem;
  //ADD POTENTIAL RIGHT MARGIN TO BEFORE's
}

input, textarea{
  background-color: $light-grey-base;
  border: none;
  color: $text-color;

  input:focus, textarea:focus{
    outline: none;
    border: none;
  }
}





/* TRANSITION GROUP CLASSES */

// .fade-appear{
//   opacity: 0;
//   z-index: 1;
// }
// .fade-appear.fade-appear-active{
//   opacity: 1;
//   transition: opacity 800ms linear;
// }
// .fade-enter{
//   opacity: 0;
//   z-index: 1;
// }
// .fade-enter.fade-enter-active{
//   opacity: 1;
//   transition: opacity 800ms linear;
// }