@import '../../../styles/variables';

.recipeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border: 2px solid black;
  background-color: $backup;
  h1{
    margin: .3em 0;
  }
  .thumbContainer{
    width: 40%;
    height: auto;
  }
  img{
    margin: 1em 0; 
    width: 100%;  
    height: auto;
  }
}