@import '../../../styles/variables';

div.recipeHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headerIconWrap {
    position: absolute;
    display: flex;
    align-items: center;
    top: 2.2em;
    right: 2.2em;
    cursor: pointer;

    .editIcon {
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;

      svg {
        height: 100%;
        width: 100%;
        fill: $dark-highlight;
        transition: fill 0.3s ease-in-out;
      }
    }
    .editIconSelected {
      svg {
        fill: $dark-highlight-2;
        transition: fill 0.3s ease-in-out;
      }
    }
  }

  .cardsContainer {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;

    .headerCard {
      padding: 1.5rem;
      background-color: $dark-base;
      margin: 0;
    }

    .timesContainer {
      margin-top: 1rem;

      p {
        font-weight: bold;
      }
    }
  }

  img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  div.recipeHeaderContainer {
    .title {
      align-items: unset;
      align-self: start;

      h1 {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
      }

      h3 {
        font-size: 1rem;
      }
    }

    .starWrap {
      top: 1.1em;
      right: 1.1em;

      div {
        height: 3rem;
        width: 3rem;
      }
    }

    .cardsContainer {
      grid-template-columns: 1fr;
    }
  }
}
