@import '../../../styles/variables';

div.recipeHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 1.5rem;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardsContainer {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;

    .headerCard {
      padding: 1rem;
      background-color: $sand;
    }
  }

  img {
    max-width: 100%;  
  }
}