@import '../../../styles/variables';

.tagList{
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: $dark-highlight-2;
  width: 90%;
  margin: 0 auto;
  div{
    margin: 1em;
  }
}