@import '../../../styles/variables';
@import '../../../styles/mixins';

.createRecipeFormContainer {
  width: 90vw;

  .createRecipeForm {
    display: flex;
    flex-direction: column;

    label,
    div {
      margin: 1rem 0;
      font-size: 1.3rem;
    }

    input {
      margin-bottom: 1rem;
      font-size: 1rem;
      height: 2rem;
      border: none;
      padding: 0.5rem;
      border: 1px solid $dark-highlight-2;
      border-left: 4px solid $dark-highlight-2;
      border-radius: 5px;
      transition: border-color 0.5s ease-out;

      &:focus {
        background-color: $dark-base;
        outline: none;
      }

      &:invalid {
        border-left-color: $sunburn;
      }

      &:valid {
        border-left-color: $dark-highlight-2;
      }
    }

    .ingredientInstructionInputWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;

      div {
        margin: 0.5rem;
      }

      label {
        margin: 0;
        margin-right: 1rem;
        min-width: 1rem;
      }

      .ingredientInstructionInput {
        display: flex;
        align-items: center;
        width: 100%;

        .deleteButtonWrapper {
          margin: 0;
        }

        input {
          margin: 0;
          margin-right: 1rem;
          width: 50%;
        }
      }
    }
    .addNewButtonWrapper {
      display: flex;
      align-items: center;
      border-radius: 0.3em;

      label {
        margin-right: 1rem;
      }
    }
    .toggleSwitchContainer {
      display: flex;
      align-items: center;

      label:first-child {
        margin-right: 3rem;
      }
    }

    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $lighter-grey-base;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: '';
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: $sunburn;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: $lighter-grey-base;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px $lighter-grey-base;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
      background-color: $dark-highlight;
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    .tagsSection {
      .tagsContainer {
        display: flex;
        justify-content: space-around;

        .tagWrapper {
          height: 5rem;
          width: 5rem;
          @include flex-center;

          svg {
            height: 100%;
            width: 100%;
            fill: $dark-highlight;
            transition: fill 0.2s;
          }
        }

        .tagSelected {
          svg {
            fill: $dark-highlight-2;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .createRecipeFormContainer {
    width: 92vw;

    h1 {
      font-size: 1.5rem;
    }
    .createRecipeForm {
      label {
        font-size: 1rem;
      }

      .ingredientInstructionInputWrapper {
        div {
          margin: 0.5rem 0;
        }
        label {
          margin-right: 0.3rem;
        }
        .ingredientInstructionInput {
          input {
            width: 100%;
          }
        }
      }
      .toggleSwitchContainer {
        justify-content: space-between;
      }
      .addNewButtonWrapper {
        justify-content: flex-end;
      }
      .tagsSection {
        .tagsContainer {
          .tagWrapper {
            height: 2.3rem;
            width: 2.3rem;
          }
        }
      }
    }
  }
}
