@import '../../../styles/variables';

.createRecipeFormContainer{
    width: 90vw;

    .createRecipeForm {
        display: flex;
        flex-direction: column;
        
        label, div {
          margin: 1rem 0;
          font-size: 1.3rem;
        }
    
        input {
          margin-bottom: 1rem;
          font-size: 1rem;
          height: 2rem;
          border: none;
          padding: .5rem;
          border: 1px solid $dark-highlight-2;
          border-left: 4px solid $dark-highlight-2;
          border-radius: 5px;
          transition: border-color .5s ease-out;
    
          &:focus {
            background-color: $dark-base;
            outline: none;
          }
    
          &:invalid {
            border-left-color: $sunburn;
          }
    
          &:valid {
            border-left-color: $dark-highlight-2;
          }
        }

        .ingredientInstructionInputWrapper{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0;

          div{
            margin: .5rem;
          }

          label{
            margin: 0;
            margin-right: 1rem;
            min-width: 1rem;
          }

          .ingredientInstructionInput{
            display: flex;
            align-items: center;
            width: 100%;

            .deleteButtonWrapper{
              margin: 0;
            }

            input{
              margin: 0;  
              margin-right: 1rem;
              width: 50%;
            }
          }
        }
        .addNewButtonWrapper{
          display: flex;
          align-items: center;
          width: 20rem;
          padding: 1rem;
          border-radius: .3em;


          label{
            margin-right: 1rem;
          }
        }
      }
}

@media only screen and (max-width: 450px){
  .createRecipeFormContainer{
    width: 92vw;

    h1{
      font-size: 1.5rem;
    }
    .createRecipeForm{      
      label{
        font-size: 1rem;
      }

      .ingredientInstructionInputWrapper{
        div{
          margin: .5rem 0;
        }
        label{
          margin-right: .3rem;
        }
        .ingredientInstructionInput{  
          input{
            width: 100%;
          }
        }
      }
    }
  }
}