@import '../../../styles/variables';
@import '../../../styles/mixins';

.cardContainer {
  @include box-shadow-mat;
  padding: 2.2em;  
  border-radius: .2em;
  background-color: $dark-grey-base;
  margin: 1rem 0;
}

@media only screen and (max-width: 450px){
  .cardContainer{
    padding: 1.1rem;
  }
}