@import '../../../styles/variables';
@import '../../../styles/mixins';

.cardContainer {
  @include box-shadow-mat;
  padding: 3em;  
  border-radius: .2em;
  background-color: $light-grey-base;
  margin: 1rem 0;
}