.profileHeaderContainer {
  width: 100%;
  line-height: 1.5;

  h1 {
    margin-bottom: 1rem;
  }

  ul {
    margin-left: 1.5rem;

    li {
      margin-top: .5rem;
      font-size: 1.3rem;
    }
  }
    
  }