.profileHeaderContainer {
  width: 100%;
  line-height: 1.5;

  .headerContent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;

    img {
      min-width: 100%;
    }
  }

  h1, h2 {
    margin-bottom: 1rem;
  }

  ul {
    margin-left: 1.5rem;

    li {
      margin-top: .5rem;
      font-size: 1.3rem;
    }
  }
}